Service:
  RegionId: cn-hangzhou
  DeployType: ros
  OperationMetadata:
    StatusOperationConfigs:
    - TemplateName: 单机版
      SupportOperations:
      - Start
      - Stop
      - Restart
    SupportBackup: true
    ModifyParametersConfig:
    - TemplateName: 单机版
      Operation:
      - Name: 变更ECS实例密码
        Description: 变更ECS实例密码
        Type: Custom
        Parameters:
        - InstancePassword
  DeployMetadata:
    SupplierDeployMetadata:
      ArtifactRelation:
        ecs_image_quickstart-n8n:
          ArtifactId: ${Artifact.EcsImage.ArtifactId}
          ArtifactVersion: draft
      SupplierTemplateConfigs:
      - Name: 单机版
        Url: ros_templates/template.yaml
        AllowedRegions:
        - ap-southeast-1
        - cn-hangzhou
        - cn-huhehaote
        - cn-shanghai
        - cn-qingdao
        - cn-beijing
        - cn-zhangjiakou
        - cn-wulanchabu
        - cn-shenzhen
        - cn-heyuan
        - cn-guangzhou
        - cn-chengdu
        - cn-hongkong
        - ap-southeast-3
        - ap-southeast-5
        - ap-southeast-6
        - ap-southeast-7
        - ap-northeast-1
        - ap-northeast-2
        - eu-central-1
        - eu-west-1
        - us-west-1
        - us-east-1
        - me-central-1
        - me-east-1
    TemplateConfigs:
    - Name: 单机版
      Url: ros_templates/template.yaml
      AllowedRegions:
      - ap-southeast-1
      TrialHiddenParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - PayPeriodUnit
      - PayType
      CreateFromExistInstanceParameterKeys:
      - VpcId
      - PayPeriod
      - VSwitchId
      - VpcOption
      - PayPeriodUnit
      - PayType
  ServiceType: private
  ServiceInfo:
  - Locale: zh-CN
    Name: n8n社区版
    ShortDescription: n8n 是一个工作流自动化平台，它为技术团队提供了代码灵活性和无代码速度。n8n 拥有 400 多个集成、原生 AI 功能和公平代码许可证，让您可以构建强大的自动化功能，同时完全控制您的数据和部署。
    Image: resources/icons/service_logo.png
    Softwares:
    - Name: n8n
      Version: v2.1.5
Artifact:
  EcsImage:
    ArtifactType: EcsImage
    ArtifactName: ecs_image_quickstart-n8n
    Description: quickstart-n8n EcsImage
    SupportRegionIds:
    - ap-southeast-1
    ArtifactBuildProperty:
      CodeRepo:
        Platform: github
        Owner: LYH-RAIN
        RepoName: aliyun-computenest/quickstart-n8n
        Branch: main
      RegionId: ap-southeast-1
      CommandType: RunShellScript
      CommandContent: |-
        # 安装并启动 n8n
        mkdir -p /root/application/ && cd /root/application/
        git clone https://github.com/n8n-io/n8n-hosting.git
        cd n8n-hosting/docker-compose/withPostgresAndWorker

        wget https://github.com/mikefarah/yq/releases/latest/download/yq_linux_amd64 -O /usr/bin/yq && chmod +x /usr/bin/yq
        yq eval '.x-shared.environment += ["N8N_SECURE_COOKIE=false"]' ./docker-compose.yml -i

        docker compose up -d
        sleep 30
